<!-- footer.component.html -->
<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>About Us</h4>
        <p>Your trusted partner for tech products.</p>
      </div>
      <div class="footer-section">
        <h4>Customer Service</h4>
        <ul>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/returns">Returns</a></li>
          <li><a routerLink="/shipping">Shipping Info</a></li>
        </ul>
        <h4> Contact us</h4>
            <ul>
            <li><img src="images/phone-call.png" alt="">+216 00  000 000</li>
            <li><img src="images/email.png" alt="">contact &#64; gmail.com</li>
        </ul>
       
      </div>
      <div class="footer-section">
        <h4>Follow Us</h4>
        <ul>
          <li><a href="https://www.facebook.com" target="_blank"><img src="images/social.png" alt=""> Facebook</a></li>
          <li><a href="https://www.twitter.com" target="_blank"><img src="images/twitter.png" alt="">Twitter</a></li>
          <li><a href="https://www.instagram.com" target="_blank"><img src="images/instagram.png" alt="">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Your Company. All rights reserved.</p>
    </div>
  </footer>
