
<ul class=" navbar navbar-expand-sm navbar-lg" style="background-color: rgb(30, 30, 197);">
    <a class="btn btn-outline-light me-2 " routerLink="/home" routerLinkActive=".activ"><img src="images/home.png" alt=""> Home</a>
    <a class="btn btn-outline-light me-2 " routerLink="/products" routerLinkActive=".activ"><img src="images/report.png" alt="">Products</a>
    <a class="btn btn-outline-light me-2  login"  routerLink="/extranet" routerLinkActive=".activ"><img src="images/user.png" alt="">Log In</a>
</ul>
